<section class="row about">
  <div class="col-md-6">
    <img src="./images/landing.jpg" alt="" class="about__image" />
    <div class="about__image-background"></div>
  </div>
  <div class="col-md-6 about__text">
    <p>
      Hi, I'm Jeremy. <br />
      I'm a <span class="pink">Web Developer</span> based in Perth, Western Australia.
    </p>
    <p>I enjoy creating things that make the web a better place. With the web and it's capabilities rapidly expanding, we as developers are obligated to use technology to have a <span class="green">positive impact</span> on society.</p>
    <p>
      I can help with everything from Accessibility to User Experience and everything in between.
    </p>
  </div>
</section>
