<section class="contact row trigger">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <p>
            if you're interested in anything listed above, or anything you can dream of, feel free to get in touch. I am more than happy to help where I can whether it be design, audit/review, build, R&D or whatever you may need.
        </p>
        <p></p>
        <p class="contact__email-label">write to me</p>
        <h2 class="contact__email"><a href="mailto:jeremy@jpittard.net"> jeremy@jpittard.net</a></h2>

        <p class="contact__email-label ">find me on the socials</p>
        <ul>
            <li><a href="https://www.facebook.com/Jpittardweb/" target="_blank">Facebook</a></li>
            <li><a href="https://twitter.com/NoSuchManAsJezz" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/jeremypittard/" target="_blank">Linkedin</a></li>
        </ul>
    </div>
</section>
