<section class="menu">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="menu__title">Web Developer based in Perth</h1>
            </div>
            <div class="contact col-md-6 offset-md-2">
                <p class="contact__email-label">write to me</p>
                <h2 class="contact__email"><a href="mailto:jeremy@jpittard.net"> jeremy@jpittard.net</a></h2>

                <p class="contact__email-label">find me on the socials</p>
                <ul>
                    <li><a href="https://www.facebook.com/Jpittardweb/" class="facebook" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/NoSuchManAsJezz" target="_blank" class="twitter">Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/jeremypittard/" target="_blank" class="linked">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
