<section class="services row trigger">
    <div class="col-md-6 col-sm-12 ">
        <h3>Accesibility.</h3>
        <p>
            More people than ever are online these days. Shopping, researching, emailing, asking questions, looking at your site. But can everybody use your site?
            <a href="#" target="top">Let's check.</a>
            Accessibility has long been treated as a feature when it should be the the baseline.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 ">
        <h3>Security.</h3>
        <p>
            Is your site secure? <br />
            with a growing (rightful) concern with users over privacy. It's in their best interest and your that you are using their information correctly and storing it securely.
            <a href="#" target="top">Are you?</a>
        </p>
    </div>
    <div class="col-md-6 col-sm-12 ">
        <h3>Development.</h3>
        <p>
            Need a site built? an app? a web app? an email template? How about a refresh or a new widget for your CMS?
            <a href="#" target="top">Lets talk.</a>
        </p>
    </div>
    <div class="col-md-6 col-sm-12 ">
        <h3>User Experience.</h3>
        <p>
            Does using your site frustrate you? does it frustrate your users?
            <a href="#" target="top">We can review</a>
            and provide suggestions based on best practices to keep your users happy, and just as importantly, on your site.
        </p>
    </div>
    <div class="col-md-6 col-sm-12 ">
        <h3>Design.</h3>
        <p>
            Need some design before you get a site signed off? Want to know what a pretty new feature might look like on your existing site? we got you!
            <a href="#" target="top">flick me an email</a>
        </p>
    </div>
</section>
