$background-colour: #1b0f12;
$text-colour: #d3d3d3;
$heading-colour: #ff00ff;
$alt-heading-colour: #f1f227;
$shadow: #dcc6e0;
$light-blue: #c5eff7;
$green: #38f689;
$blue: #00e0e0;

$black: #000;
$white: #fff;
